@model Ravintola

<section>
    <h3>@Model.Nimi</h3>
    <div>
        @Model.Kaupunki.Nimi <br />
        @Model.Katuosoite <br />
    </div>
    <div>
        <a asp-action="Tiedot" asp-route-id="@Model.Id">Näytä</a>
        <a asp-action="Muuta" asp-route-id="@Model.Id">Muokkaa</a>
    </div>
</section>