@model Ravintola

<section class="panel panel-default">
    <h3 class="panel-heading">@Model.Nimi</h3>
    <div class="panel-body">
        @Model.Kaupunki.Nimi <br />
        @Model.Katuosoite <br />
    </div>
    <div class="panel-footer">
        <a class="btn btn-primary" asp-action="Tiedot" asp-route-id="@Model.Id">Näytä</a>
        <a class="btn btn-primary" asp-action="Muuta" asp-route-id="@Model.Id">Muokkaa</a>
    </div>
</section>